<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Forget Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Welcome to Todo</ion-card-subtitle>
      <ion-card-title>Forget Password</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="forget()" #signupForm="ngForm">
        <ion-input *ngIf="!isLogin" id="emailInput" errorText="Invalid email" email type="email" [(ngModel)]="email"
          name="email" label="Email" label-placement="floating" fill="outline" placeholder="Enter your email"
          required></ion-input>
        <ion-button *ngIf="!showPasswordInputs" fill="outline" expand="block" type="button" (click)="sendOtp()">Send
          OTP</ion-button>

        <ion-input *ngIf="showPasswordInputs" id="otpInput" type="number" [(ngModel)]="otp" name="otp" label="Otp"
          label-placement="floating" fill="outline" placeholder="Enter OTP" required></ion-input>

        <ion-input *ngIf="showPasswordInputs" id="passwordInput" [type]="passwordType" [(ngModel)]="password"
          name="password" label="New Password" label-placement="floating" fill="outline"
          placeholder="Enter New Password" required></ion-input>

        <ion-input *ngIf="showPasswordInputs" id="confirmPasswordInput" type="password" [(ngModel)]="confirmPassword"
          name="confirmpassword" label="Confirm New Password" label-placement="floating" fill="outline"
          placeholder="Confirm New Password" required></ion-input>

        <ion-button *ngIf="showPasswordInputs" expand="block" type="submit">Reset</ion-button>
      </form>
      <ion-label *ngIf="!isLogin">Remembered password? <ion-label class="login" color="primary"
          (click)="forgetToLogin()">
          Login
        </ion-label>👈</ion-label>
      <ion-label *ngIf="isLogin">Remembered password? <ion-label class="login" color="primary"
          (click)="forgetToLogin()">
          Home
        </ion-label>👈</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>