ion-card {
    width: 95%;
    height: 95%;
    background: var(--ion-color-secondary-contrast);

    ion-card-content {
        ion-input {
            min-height: 45px;
            margin-bottom: 10px;
        }

        ion-button {
            --border-color: var(--ion-color-secondary);
        }

        .signup {
            cursor: pointer;
        }
    }
}