ion-content {
    --background: var(--ion-color-light-shade);
}

ion-card {
    background: var(--ion-color-secondary-contrast);

    ion-card-content {
        form {
            margin-bottom: 15px;
        }

        ion-input {
            margin-bottom: 10px;
        }

        ion-button {
            --border-color: var(--ion-color-secondary);
        }

        .login {
            cursor: pointer;
        }
    }
}