ion-toolbar {
    --min-height: 50px;
}

ion-content {
    --background: var(--ion-color-light-shade);
}

.quote-container {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.2rem;
    color: #333;
    font-style: italic;
}

.todo-container {
    max-width: 600px;
    margin: 0 auto;
}

ion-item {
    margin-bottom: 10px;
    border-radius: 10px;
    --background: var(--ion-color-light-shade);
    color: var(--ion-color-medium);
}

.todo-container {
    max-width: 600px;
    margin: 30px auto 0;
}

ion-card {
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    background-color: var(--ion-color-primary-contrast);
}

.no-tasks {
    text-align: center;
    color: #888;
    margin: 20px 0;
    font-style: italic;
}

form ion-button {
    margin-top: 20px;
}