ion-content {
    --ion-background-color: var(--ion-color-secondary-tint)
}

.login {
    height: 100%;
    width: auto;
}

.banner {}

.contentCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}