:root {
    /** primary **/
    --ion-color-primary: #007BFF;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-shade: #0069D9;
    --ion-color-primary-tint: #339CFF;

    /** secondary **/
    --ion-color-secondary: #00A8FF;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-shade: #008DD6;
    --ion-color-secondary-tint: #33BBFF;

    /** tertiary **/
    --ion-color-tertiary: #0056B3;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-shade: #004494;
    --ion-color-tertiary-tint: #3374CC;

    /** success **/
    --ion-color-success: #4CAF50;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-shade: #3E9B41;
    --ion-color-success-tint: #6BC26E;

    /** warning **/
    --ion-color-warning: #FFC107;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-shade: #E0A900;
    --ion-color-warning-tint: #FFD33B;

    /** danger **/
    --ion-color-danger: #FF4B5C;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-shade: #E04350;
    --ion-color-danger-tint: #FF6675;

    /** dark **/
    --ion-color-dark: #121212;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-shade: #0E0E0E;
    --ion-color-dark-tint: #333333;

    /** medium **/
    --ion-color-medium: #6C757D;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-shade: #5A6268;
    --ion-color-medium-tint: #7D8A92;

    /** light **/
    --ion-color-light: #F0F8FF;
    --ion-color-light-contrast: #000000;
    --ion-color-light-shade: #E0EFFF;
    --ion-color-light-tint: #F5FBFF;
}